html, body{
    overflow: hidden;
}


.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 1.5rem;
}

.header-left > * {
    font-size: 20px;
    margin-right: 1rem;
    z-index: 100;
}

.header-right > * {
    font-size: 20px;
    margin-left: 1.5rem;
    z-index: 100;

}

.login-signup {
    display: flex;
    justify-content:center;
    align-items: center;
}

.login-form-container {
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer-photo {
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 999;
}