// html, body{
//     overflow: hidden;
// }
.homepage-container{
    display: flex;
    flex-direction: column;
    margin:10px;

}



//session form
.login-signup {
    display: flex;
    justify-content:center;
    align-items: center;
}

.login-form-container {
    display: flex;
    justify-content:center;
    align-items: center;
}

.homepage-container-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 10px;
    // background-image: url('https://yep-seeds.s3.amazonaws.com/images/background1.jpg');
}

.rest-cat-header {
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rest-cat {
    display: flex;
    justify-content: space-evenly;
    gap: 100px
    
}

// .homepage-video{
//     // position: absolute;
//     // background-repeat: no-repeat;
//     // background-attachment: fixed;
//     // background-size: cover;
//     width: 1500px;
//     height: 800px;
//     // z-index: 999;
//     // width: 100%;
// }



