.indexlayout-container{
    margin-top: 100px;
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
}

// .indexlayout-container-2 {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }