.index-item-container {
    display: flex;
    
    
}

.index-item-individual {
    display: flex;
    flex-direction: column;

}

.index-pic {
    object-fit: cover;
    width: 190px;
    height: 190px;
    margin-top: 3px;
    margin-right: 5px;
    border-radius: 8px;
}

.index-item-individual-details {
    display: flex;
    font-size: small;
    // flex-direction: column;
    // justify-content: space-between;

}

.index-item-individual-details-cat {

    margin-right: 10px;
}

.index-item-individual-hour {
    font-size: small;
}
