.index-item-container {
    display: flex;
    
    
}

.index-item-individual {
    display: flex;
    flex-direction: column;

}

.index-item-individual-rating{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.reviews-length{
    margin-left: 5px;
}

.index-pic {
    object-fit: cover;
    width: 190px;
    height: 190px;
    margin-top: 3px;
    margin-right: 5px;
    border-radius: 8px;
}

.index-item-individual-details {
    display: flex;
    font-size: small;
    // flex-direction: column;
    // justify-content: space-between;

}

.index-item-individual-details-cat {

    margin-right: 10px;
}

.index-item-individual-hour {
    font-size: small;
}

.review-body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    line-height: 20px;
    color: rgba(110,112,114,1);
    text-align: left;
}