
.searchbar-container {
    display: flex;
    justify-content:center;
    align-items: center;

    input {
        width: 310px;
        height: 37px;
        padding-left: 0px;
        outline: none;
    }
}


.searchbar-restaurant {
    size: 50;
}




.searchbar-icon {
    background-color: rgb(244,13,21);
    color: white;
    font-size: 21.5px;
    border: 1px solid rgb(244,13,21);
    border-radius: 0px 3px 3px 0px;
    padding: 10px 12px;
    cursor: pointer;
    margin-top: -0.5px;
}

.searchbar-icon:hover {
    opacity: 0.6;
    transition: all 0.2s;
}