// .create-form-header, .edit-form-header {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 10px;
//   border-bottom: solid 1px #ebebeb;
//   padding-bottom: 30px;
// }

// .create-form-title-logo-wrapper, .edit-form-title-logo-wrapper {
//   display: flex;
//   margin-top: 30px;
//   text-decoration: none;
//   margin-left: 40px;
// }

// .create-form-title, .edit-form-title {
//   font-size: 30px;
//   font-family: "Dekko";
//   font-weight: bold;
//   color: #000;
//   object-fit: cover;
//   text-shadow: 1px 0 #000;
// }

// .create-form-logo, .edit-form-logo {
//   width: 30px;
//   height: 30px;
//   margin-top: -4%;
//   object-fit: cover;
// }

// .create-form-user-container, .edit-form-user-container {
//   display: flex;
//   margin-top: 17px;
//   margin-right: 40px;
// }

// .create-form-welcome-user, .edit-form-welcome-user {
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   font-weight: 700;
//   font-size: 18px;
//   margin-top: 10px;
//   padding-right: 15px;
// }

// .create-form-logout-button, .edit-form-logout-button {
//   cursor: pointer;
//   padding: 8px 16px;
//   background-color: rgba(224,7,7,1);
//   border: none;
//   border-radius: 4px;
//   color: white;
//   text-decoration: none;
//   height: 35px;
//   width: auto;
//   font-weight: 500;
//   margin-left: 8px;
//   font-size: 16px;
// }

// .create-form-logout-button:hover, .edit-form-logout-button:hover {
//   opacity: 0.85;
//   transition: all 0.6s;
// }


// .create-review-form-container, .edit-review-form-container {
//   margin-top: 4%;
//   margin-left: 7%;
// }

// .create-review-form, .edit-review-form {
//   border: 1px solid #c8c9ca;
//   width: 650px;
//   height: 400px;
//   border-radius: 4px;
//   margin-top: 20px;
// }

// .create-review-form-title, .edit-review-form-title {
//   font-size: 28px;
//   color: rgba(45,46,47,1);
//   font-weight: 700;
//   font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
//   line-height: 36px;
//   letter-spacing: -0.4px;
// }

.create-review-form-rating-wrapper, .edit-review-form-rating-wrapper {
  display: flex;
}

.create-form-stars-container, .edit-form-stars-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 20px;
  margin-top: 20px;

  #rating-1 {
      display: none;
      &:checked ~ label, &:hover ~ label {
          background-color: #f52d2d;
      }
  }

  #rating-2 {
      display: none;
      &:checked ~ label, &:hover ~ label {
          background-color: orangered;
      }
  }
  #rating-3 {
      display: none;
      &:checked ~ label, &:hover ~ label {
          background-color: rgb(255, 123, 0);
      }
  }
  #rating-4 {
      display: none;
      &:checked ~ label, &:hover ~ label {
          background-color: rgb(255, 174, 23);
      }
  }
  #rating-5 {
      display: none;
      &:checked ~ label, &:hover ~ label {
          background-color: gold;
      }
  }

  label {
      background-color: #ebebeb;
      border-radius: 5px;
      margin-right: 5px;
  }
}

.review-star {
  color: white;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 20px;
  padding: 2px 5px 3px 2px;
  word-spacing: 4px;
}

.select-your-rating {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(67, 67, 68);
  margin-top: 27px;
  margin-left: 10px;
  letter-spacing: 0.2px;
}


// .create-review-form-submit, .edit-review-form-submit {
//   width: 200px;
//   height: 40px;
//   font-size: 15px;
//   font-weight: 700;
//   background-color: rgba(224,7,7,1);
//   color: rgba(255,255,255,1);
//   border: 0;
//   border-radius: 4px;
//   margin-top: 40px;
//   cursor: pointer;
//   margin-bottom: 50px;
// }

// .create-review-form-submit:hover, .edit-review-form-submit:hover {
//   background-color: rgb(255, 42, 42);
//   transition: all 1s;
// }

// .create-review-form-textarea, .edit-review-form-textarea {
//   border: 1px solid #c8c9ca;
//   border-radius: 4px;
//   cursor: text;
//   display: flex;
//   flex-direction: column;
//   margin-top: 20px;
//   padding: 22px;
//   width: 93%;
//   height: 280px;
//   resize: none;
//   outline: none;
//   border: none;
//   background-color: transparent;
//   font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   color: rgb(51, 51, 51);
//   line-height: 20px;
// }

// .create-review-show-errors {
//   font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
//   font-size: 14px;
//   font-weight: 400;
//   letter-spacing: 0px;
//   line-height: 20px;
//   color: rgb(224, 7, 7);
//   position: absolute;
//   padding-top: 12px;
// }














//react-rater

// $react-rater-link: #ccc !default; // color of star not rated
// $react-rater-hover: rgb(240, 198, 119) !default; // color of star on hover
// $react-rater-active: orange !default; // color of star rated

$react-rater-link: #ccc !default; // color of star not rated
$react-rater-hover: rgb(240, 198, 119) !default; // color of star on hover
$react-rater-active: #ebebeb;; // color of star rated

.react-rater {
  display: inline-block;
  line-height: normal;
  > * {
    display: inline-block;
  }
}
.react-rater-star {

    background-color: #ebebeb;
    border-radius: 5px;
    margin-right: 1px;
    margin-top: 2px;
    margin-left: 1px;
    font-size: 12px;
    padding: 2px 4px 2px 4px;
    word-spacing: 4px;
  cursor: pointer;
  color: $react-rater-link;
  position: relative;
  &.will-be-active {
    color: $react-rater-hover;
  }
  &.is-active {
    color: $react-rater-active;
    background-color: #f52d2d;
  }
  &.is-active-half:before {
    color: $react-rater-active;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
  }
  &.is-disabled {
    cursor: default;
  }
}

//non interactive (testing)
// .react-rater-star {

//   // background-color: #ebebeb;
//   border-radius: 5px;
//   margin-right: 1px;
//   margin-top: 2px;
//   margin-left: 1px;
//   font-size: 12px;
//   padding: 0px 4px 1px 4px;
//   word-spacing: 4px;
// cursor: pointer;
// color: $react-rater-link;
// position: relative;
// background-color: gold;

// }





//react-rater

// $react-rater-link: #ccc !default;
// $react-rater-hover: #666 !default;
// $react-rater-active: #000 !default;

// .react-rater {
//   display: inline-block;
//   line-height: normal;
//   > * {
//     display: inline-block;
//   }
// }
// .react-rater-star {
//   cursor: pointer;
//   color: $react-rater-link;
//   position: relative;
//   &.will-be-active {
//     color: $react-rater-hover;
//   }
//   &.is-active {
//     color: $react-rater-active;
//   }
//   &.is-active-half:before {
//     color: $react-rater-active;
//     content: '\2605';
//     position: absolute;
//     left: 0;
//     width: 50%;
//     overflow: hidden;
//   }
//   &.is-disabled {
//     cursor: default;
//   }
// }